@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lufga";
  src: url("/public/fonts/LufgaRegular.otf");
  font-weight: normal;
  font-style: normal;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #F7CA15;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
